@charset "UTF-8";
*{
    font-family: Arial, Helvetica, sans-serif;
    /*height: 100%;*/
}
p{
    text-align: justify;
}
body{
    background-image: linear-gradient(to right, #F2CA99,#8a4f07bd);
}
main{
    background-color: white;
border-radius: 10px;
box-shadow: 5px 5px 15px #A6855D;
width: 600px;
padding: 10px;
margin: auto;
}
h1{
    color:  #e48f28;
    text-align: center;
    text-shadow: 1px 1px 0px #734916;
}
h2{
    color:#734916;
}
h3{
    color:#734916;
}
p{
    text-align: justify;
}