@charset "UTF-8";

body{
    background-color: rgb(189, 145, 185);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
}
h1{
    color: blue;
    background-color: rgb(189, 145, 185);
}
h2{
    color: crimson;
}
p{
    text-align: justify;
}