@charset "UTF-8";


header{
    flex-direction: column;
    align-items: center
}
header, header > nav {
    flex-flow: column nowrap;
}

header > h1 {
    flex-basis: 50px;
}
header > nav > a {
    width: 90vw;
    text-align: center;/*hambusrguinho*/
}


#menu-btn{/*hambusrguinho*/
    display: block;
}

#menu{/*hambusrguinho*/
    display: none;
    flex-direction: column;
    width: 100%;
}

#menu a{ /*hambusrguinho*/
    width: 100%;
}

